@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* animation: none !important; */
}

.banner {
	margin: 0 auto;
	min-width: 280px;
	width: 100%;
	height: 50px;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(45%, rgb(0, 0, 24)),
		color-stop(55%, rgb(0, 0, 8))
	);
	background: -o-linear-gradient(left, rgb(0, 0, 24) 45%, rgb(0, 0, 8) 55%);
	background: linear-gradient(90deg, rgb(0, 0, 24) 45%, rgb(0, 0, 8) 55%);
	border: 1px solid #199fff;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	color: #fff;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}

.banner::before {
	content: "";
	width: 1920px;
	height: 50px;
	background: url(../img/bg.jpg) no-repeat center center/contain;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.txt-wrapper,
.img-wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.txt-wrapper {
	text-transform: uppercase;
}

.img-wrapper div {
	background-size: contain !important;
}

.container {
	width: 1000px;
	height: 100%;
	position: relative;
}
.container div,
.container img {
	position: absolute;
}

.logo-wrapper,
.btn-wrapper {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo-wrapper {
	top: 0;
	left: 0;
	width: 42%;
	height: 100%;
}

.logo {
	position: relative;
	width: 123px;
	z-index: 30;
}

.btn-wrapper {
	bottom: 0;
	right: 0;
	width: 41.5%;
	height: 100%;
}

.btn {
	font-size: 11px;
	width: 86px;
	height: 28px;
	line-height: 1.2;
	color: #31373e;
	background: #76e600;
	-webkit-box-shadow: inset 0 2px 0 #abff6e, 0 0 27px 0 #75e600;
	box-shadow: inset 0 2px 0 #abff6e, 0 0 27px 0 #75e600;
	border-radius: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 10;
}
.btn::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 4px;
	border: 2px solid #73e700;
	border-radius: 60px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: btn 6.6s infinite;
	animation: btn 6.6s infinite;
}

.img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* slide 1 */
.txt-1 {
	font-size: 29px;
	top: 8px;
	left: 362px;
	letter-spacing: 0.13em;
	text-shadow: 0 4px 10px #000, 0 -1px 0 #001241, 0 -1px 0 #001241, 0 1px 0 #001241, 0 1px 0 #001241, -1px 0 0 #001241,
		1px 0 0 #001241, -1px 0 0 #001241, 1px 0 0 #001241, -1px -1px 0 #001241, 1px -1px 0 #001241, -1px 1px 0 #001241,
		1px 1px 0 #001241, -1px -1px 0 #001241, 1px -1px 0 #001241, -1px 1px 0 #001241, 1px 1px 0 #001241;
	z-index: 3;
	-webkit-animation: txt-1 6.6s infinite;
	animation: txt-1 6.6s infinite;
}

.s1-title {
	width: 227px;
	height: 82px;
	background: url(../img/s1-title.png) no-repeat center center/contain;
	top: -25px;
	left: 130px;
	z-index: 1;
	-webkit-animation: s1-title 6.6s infinite;
	animation: s1-title 6.6s infinite;
}

.s1-bg {
	width: 262px;
	height: 274px;
	background: url(../img/s1-bg.png) no-repeat center center/contain;
	top: -129px;
	left: 687px;
	z-index: 1;
	-webkit-animation: s1-bg 6.6s infinite;
	animation: s1-bg 6.6s infinite;
}

.s1-img {
	width: 171px;
	height: 186px;
	background: url(../img/s1-img.png) no-repeat center center/contain;
	top: -42px;
	left: 765px;
	z-index: 1;
	-webkit-animation: s1-img 6.6s infinite;
	animation: s1-img 6.6s infinite;
}

/* slide 2 */
.txt-2 {
	font-size: 26px;
	letter-spacing: 0.03em;
	top: 2px;
	left: 87px;
	z-index: 3;
	-webkit-animation: txt-2 6.6s infinite;
	animation: txt-2 6.6s infinite;
	text-shadow: 0 -2px 0 #0037c7, 0 -2px 0 #0037c7, 0 2px 0 #0037c7, 0 2px 0 #0037c7, -2px 0 0 #0037c7, 2px 0 0 #0037c7,
		-2px 0 0 #0037c7, 2px 0 0 #0037c7, -1px -2px 0 #0037c7, 1px -2px 0 #0037c7, -1px 2px 0 #0037c7,
		1px 2px 0 #0037c7, -2px -1px 0 #0037c7, 2px -1px 0 #0037c7, -2px 1px 0 #0037c7, 2px 1px 0 #0037c7,
		-2px -2px 0 #0037c7, 2px -2px 0 #0037c7, -2px 2px 0 #0037c7, 2px 2px 0 #0037c7, -2px -2px 0 #0037c7,
		2px -2px 0 #0037c7, -2px 2px 0 #0037c7, 2px 2px 0 #0037c7, 0 0 17px #a63cd0, 0 0 10px #a63cd0;
}
.txt-2 .first {
	font-size: 0.9em;
}
.txt-2 .second {
	font-size: 1.46em;
}
.txt-2 .third {
	font-weight: 500;
}

.s2-bg {
	width: 267px;
	height: 363px;
	background: url(../img/s2-bg.png) no-repeat center center/contain;
	top: -80px;
	left: 696px;
	z-index: 1;
	-webkit-animation: s2-img 6.6s infinite;
	animation: s2-img 6.6s infinite;
}

.s2-img {
	width: 71px;
	height: 93px;
	background: url(../img/s2-img.png) no-repeat center center/contain;
	top: -5px;
	left: 807px;
	z-index: 1;
	-webkit-animation: s2-img 6.6s infinite;
	animation: s2-img 6.6s infinite;
}

.s2-coin {
	width: 34px;
	height: 33px;
	background: url(../img/s2-coin.png) no-repeat center center/contain;
	top: 37px;
	left: 931px;
	z-index: 1;
	-webkit-animation: s2-img 6.6s infinite;
	animation: s2-img 6.6s infinite;
}
.img-3 {
	left: -113px;
}
/* slide 3 */
.txt-3 {
	font-size: 19px;
	line-height: 0.9;
	width: 397px;
	letter-spacing: 0.03em;
	top: 3px;
	left: 159px;
	z-index: 3;
	-webkit-animation: txt-3 6.6s infinite;
	animation: txt-3 6.6s infinite;
	text-shadow: 0 -2px 0 #0037c7, 0 -2px 0 #0037c7, 0 2px 0 #0037c7, 0 2px 0 #0037c7, -2px 0 0 #0037c7, 2px 0 0 #0037c7,
		-2px 0 0 #0037c7, 2px 0 0 #0037c7, -1px -2px 0 #0037c7, 1px -2px 0 #0037c7, -1px 2px 0 #0037c7,
		1px 2px 0 #0037c7, -2px -1px 0 #0037c7, 2px -1px 0 #0037c7, -2px 1px 0 #0037c7, 2px 1px 0 #0037c7,
		-2px -2px 0 #0037c7, 2px -2px 0 #0037c7, -2px 2px 0 #0037c7, 2px 2px 0 #0037c7, -2px -2px 0 #0037c7,
		2px -2px 0 #0037c7, -2px 2px 0 #0037c7, 2px 2px 0 #0037c7, 0 0 17px #a63cd0, 0 0 10px #a63cd0;
}
.txt-3 .first {
	font-size: 1.19em;
}
.txt-3 .second {
	font-size: 1.46em;
}
.txt-3 .third {
	font-weight: 500;
}

.s3-img {
	width: 318px;
	height: 411px;
	background: url(../img/s3-img.png) no-repeat center center/contain;
	top: -97px;
	left: 700px;
	z-index: 1;
	-webkit-animation: s3-img 6.6s infinite;
	animation: s3-img 6.6s infinite;
}

.s3-coin {
	width: 69px;
	height: 53px;
	background: url(../img/s3-coin.png) no-repeat center center/contain;
	top: 42px;
	left: 948px;
	z-index: 1;
	-webkit-animation: s3-img 6.6s infinite;
	animation: s3-img 6.6s infinite;
}

/* animation 1 */
@-webkit-keyframes s1-title {
	from,
	33.3%,
	to {
		opacity: 0;
	}
	3%,
	31.8% {
		opacity: 1;
	}
}
@keyframes s1-title {
	from,
	33.3%,
	to {
		opacity: 0;
	}
	3%,
	31.8% {
		opacity: 1;
	}
}
@-webkit-keyframes txt-1 {
	from,
	1.5%,
	33.3%,
	to {
		opacity: 0;
	}
	3%,
	31.8% {
		opacity: 1;
	}
}
@keyframes txt-1 {
	from,
	1.5%,
	33.3%,
	to {
		opacity: 0;
	}
	3%,
	31.8% {
		opacity: 1;
	}
}
@-webkit-keyframes s1-img {
	from {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	3%,
	31.8% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	33.3%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@keyframes s1-img {
	from {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	3%,
	31.8% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	33.3%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@-webkit-keyframes s1-bg {
	from,
	33.3%,
	to {
		opacity: 0;
	}
	1.5%,
	31.8% {
		opacity: 1;
	}
}
@keyframes s1-bg {
	from,
	33.3%,
	to {
		opacity: 0;
	}
	1.5%,
	31.8% {
		opacity: 1;
	}
}
/* animation 2 */
@-webkit-keyframes s2-img {
	from,
	33.3% {
		-webkit-transform: translateY(60px);
		transform: translateY(60px);
		opacity: 0;
	}
	36.3%,
	65.1% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	66.6%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@keyframes s2-img {
	from,
	33.3% {
		-webkit-transform: translateY(60px);
		transform: translateY(60px);
		opacity: 0;
	}
	36.3%,
	65.1% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	66.6%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@-webkit-keyframes txt-2 {
	from,
	33.3% {
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px);
		opacity: 0;
	}
	36.3%,
	65.1% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	66.6%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@keyframes txt-2 {
	from,
	33.3% {
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px);
		opacity: 0;
	}
	36.3%,
	65.1% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	66.6%,
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
/* animation 3 */
@-webkit-keyframes txt-3 {
	from,
	66.6% {
		-webkit-transform: translateY(60px);
		transform: translateY(60px);
		opacity: 0;
	}
	69.6%,
	98.5% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@keyframes txt-3 {
	from,
	66.6% {
		-webkit-transform: translateY(60px);
		transform: translateY(60px);
		opacity: 0;
	}
	69.6%,
	98.5% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@-webkit-keyframes s3-img {
	from,
	66.6% {
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px);
		opacity: 0;
	}
	69.6%,
	98.5% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@keyframes s3-img {
	from,
	66.6% {
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px);
		opacity: 0;
	}
	69.6%,
	98.5% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 0;
	}
}
@-webkit-keyframes btn {
	from,
	75.7%,
	78.7%,
	81.7%,
	84.7%,
	to {
		opacity: 1;
	}
	77.2%,
	80.2%,
	83.2% {
		opacity: 0;
	}
}
@keyframes btn {
	from,
	75.7%,
	78.7%,
	81.7%,
	84.7%,
	to {
		opacity: 1;
	}
	77.2%,
	80.2%,
	83.2% {
		opacity: 0;
	}
}
@media (max-width: 1900px) {
	.img-3 {
		left: -119px;
	}
	.txt-3 {
		font-size: 17.3px;
		line-height: 1.1;
		top: -1px;
		left: 205px;
	}
	.img-2 {
		left: -119px;
	}
	.txt-2 {
		font-size: 19px;
		letter-spacing: 0.03em;
		top: 8px;
		left: 194px;
	}
	.s1-bg {
		width: 262px;
		top: -129px;
		left: 546px;
	}
	.s1-img {
		width: 171px;
		top: -42px;
		left: 625px;
	}
	.txt-1 {
		font-size: 20px;
		line-height: 1;
		width: 150px;
		top: 5px;
		left: 447px;
	}
	.s1-title {
		width: 227px;
		top: -25px;
		left: 230px;
	}
	.btn-wrapper {
		width: 32.5%;
	}
	.logo-wrapper {
		width: 33%;
	}
	.banner::before {
		display: none;
	}
	.banner {
		background: url(../img/bg-1280.jpg) no-repeat center center;
	}
}
@media (max-width: 1279px) {
	.img-3 {
		left: -385px;
	}
	.txt-3 {
		font-size: 9.7px;
		width: 206px;
		line-height: 1.2;
		top: 3px;
		left: 166px;
		text-shadow: 0 -1px 0 #0037c7, 0 -1px 0 #0037c7, 0 1px 0 #0037c7, 0 1px 0 #0037c7, -1px 0 0 #0037c7,
			1px 0 0 #0037c7, -1px 0 0 #0037c7, 1px 0 0 #0037c7, -1px -1px 0 #0037c7, 1px -1px 0 #0037c7,
			-1px 1px 0 #0037c7, 1px 1px 0 #0037c7, -1px -1px 0 #0037c7, 1px -1px 0 #0037c7, -1px 1px 0 #0037c7,
			1px 1px 0 #0037c7, 0 0 10px #a63cd0, 0 0 4px #a63cd0;
	}
	.txt-3 .second {
		width: 100%;
		display: inline-block;
	}
	.img-2 {
		left: -371px;
	}
	.txt-2 {
		font-size: 14px;
		line-height: 1.2;
		width: 162px;
		letter-spacing: 0.03em;
		top: 3px;
		left: 190px;
		text-shadow: 0 -1px 0 #0037c7, 0 -1px 0 #0037c7, 0 1px 0 #0037c7, 0 1px 0 #0037c7, -1px 0 0 #0037c7,
			1px 0 0 #0037c7, -1px 0 0 #0037c7, 1px 0 0 #0037c7, -1px -1px 0 #0037c7, 1px -1px 0 #0037c7,
			-1px 1px 0 #0037c7, 1px 1px 0 #0037c7, -1px -1px 0 #0037c7, 1px -1px 0 #0037c7, -1px 1px 0 #0037c7,
			1px 1px 0 #0037c7, 0 0 10px #a63cd0, 0 0 4px #a63cd0;
	}
	.txt-2 .third {
		width: 100%;
		display: inline-block;
	}
	.s1-bg {
		width: 262px;
		top: -129px;
		left: 314px;
	}
	.s1-img {
		width: 171px;
		top: -42px;
		left: 394px;
	}
	.txt-1 {
		font-size: 12px;
		line-height: 1;
		width: 159px;
		top: 34px;
		left: 207px;
		text-shadow: 0 1px 7px #000, 0 -1px 0 #001241, 0 -1px 0 #001241, 0 1px 0 #001241, 0 1px 0 #001241,
			-1px 0 0 #001241, 1px 0 0 #001241, -1px 0 0 #001241, 1px 0 0 #001241, -1px -1px 0 #001241,
			1px -1px 0 #001241, -1px 1px 0 #001241, 1px 1px 0 #001241, -1px -1px 0 #001241, 1px -1px 0 #001241,
			-1px 1px 0 #001241, 1px 1px 0 #001241;
		z-index: 3;
	}
	.s1-title {
		width: 182px;
		top: -32px;
		left: 208px;
	}
	.btn-wrapper {
		width: 22.5%;
	}
	.btn {
		font-size: 10px;
		line-height: 1;
		width: 82px;
		height: 24px;
		-webkit-box-shadow: inset 0 1px 0 #abff6e, 0 0 17px 0 #75e600;
		box-shadow: inset 0 1px 0 #abff6e, 0 0 17px 0 #75e600;
	}
	.logo-wrapper {
		width: 26%;
	}
	.logo {
		width: 100px;
	}
	.container {
		width: 750px;
	}
	.banner {
		background: url(../img/bg-768.jpg) no-repeat center center;
	}
}
@media (max-width: 767px) {
	.s3-coin {
		width: 43px;
		top: 26px;
		left: 741px;
	}
	.s3-img {
		width: 185px;
		top: -133px;
		left: 598px;
	}
	.txt-3 {
		font-size: 8px;
		line-height: 1.1;
		top: 11px;
		left: 57px;
	}
	.s2-coin {
		width: 23px;
		top: 28px;
		left: 722px;
	}
	.s2-img {
		width: 54px;
		top: -12px;
		left: 637px;
	}
	.s2-bg {
		width: 185px;
		top: -104px;
		left: 561px;
	}
	.txt-2 {
		font-size: 11px;
		line-height: 1.2;
		width: 154px;
		top: 8px;
		left: 70px;
	}
	.s1-bg {
		width: 178px;
		top: -123px;
		left: 184px;
	}
	.s1-img {
		width: 121px;
		top: -50px;
		left: 236px;
	}
	.txt-1 {
		font-size: 10.6px;
		line-height: 1;
		width: 138px;
		top: 35px;
		left: 96px;
		text-shadow: 0 1px 5px #000, 0 -1px 0 #001241, 0 -1px 0 #001241, 0 1px 0 #001241, 0 1px 0 #001241,
			-1px 0 0 #001241, 1px 0 0 #001241, -1px 0 0 #001241, 1px 0 0 #001241, -1px -1px 0 #001241,
			1px -1px 0 #001241, -1px 1px 0 #001241, 1px 1px 0 #001241, -1px -1px 0 #001241, 1px -1px 0 #001241,
			-1px 1px 0 #001241, 1px 1px 0 #001241;
		z-index: 3;
	}
	.s1-title {
		width: 156px;
		top: -29px;
		left: 98px;
	}
	.btn-wrapper {
		width: 18.5%;
	}
	.btn {
		font-size: 7px;
		width: 56px;
		height: 22px;
	}
	.btn::before {
		padding: 3px;
		border-width: 1px;
	}
	.logo-wrapper {
		width: 19%;
	}
	.logo {
		width: 67px;
	}
	.container {
		width: 450px;
	}
	.banner {
		background: url(../img/bg-468.jpg) no-repeat center center;
	}
}
@media (max-width: 467px) {
	.img-3 {
		left: -380px;
	}
	.s3-coin {
		width: 26px;
		top: 15px;
		left: 573px;
	}
	.s3-img {
		width: 121px;
		top: -155px;
		left: 483px;
	}
	.txt-3 {
		font-size: 7px;
		width: 104px;
		line-height: 1.1;
		top: 7px;
		left: 32px;
		text-shadow: 0 -1px 0 #0037c7, 0 -1px 0 #0037c7, 0 1px 0 #0037c7, 0 1px 0 #0037c7, -1px 0 0 #0037c7,
			1px 0 0 #0037c7, -1px 0 0 #0037c7, 1px 0 0 #0037c7, -1px -1px 0 #0037c7, 1px -1px 0 #0037c7,
			-1px 1px 0 #0037c7, 1px 1px 0 #0037c7, -1px -1px 0 #0037c7, 1px -1px 0 #0037c7, -1px 1px 0 #0037c7,
			1px 1px 0 #0037c7, 0 0 5px #a63cd0, 0 0 2px #a63cd0;
	}
	.txt-3 .first {
		font-size: 1.1em;
	}
	.txt-3 .first,
	.txt-3 .third span {
		display: inline-block;
		width: 100%;
	}
	.s2-coin {
		width: 14px;
		top: 23px;
		left: 558px;
	}
	.s2-img {
		width: 33px;
		top: -17px;
		left: 519px;
	}
	.s2-bg {
		width: 105px;
		top: -133px;
		left: 476px;
	}
	.txt-2 {
		font-size: 7.4px;
		width: 89px;
		top: 10px;
		left: 37px;
		text-shadow: 0 -1px 0 #0037c7, 0 -1px 0 #0037c7, 0 1px 0 #0037c7, 0 1px 0 #0037c7, -1px 0 0 #0037c7,
			1px 0 0 #0037c7, -1px 0 0 #0037c7, 1px 0 0 #0037c7, -1px -1px 0 #0037c7, 1px -1px 0 #0037c7,
			-1px 1px 0 #0037c7, 1px 1px 0 #0037c7, -1px -1px 0 #0037c7, 1px -1px 0 #0037c7, -1px 1px 0 #0037c7,
			1px 1px 0 #0037c7, 0 0 5px #a63cd0, 0 0 2px #a63cd0;
	}
	.txt-2 .first {
		font-size: 0.9em;
	}
	.txt-2 .second {
		width: 100%;
		display: inline-block;
		/* font-size: 1.04em; */
	}
	.s1-img {
		width: 75px;
		top: -64px;
		left: 134px;
	}
	.s1-bg {
		width: 116px;
		top: -127px;
		left: 99px;
	}
	.txt-1 {
		font-size: 11.6px;
		line-height: 1;
		width: 83px;
		top: 24px;
		left: 45px;
		text-shadow: 0 1px 3px #000, 0 -1px 0 #001241, 0 -1px 0 #001241, 0 1px 0 #001241, 0 1px 0 #001241,
			-1px 0 0 #001241, 1px 0 0 #001241, -1px 0 0 #001241, 1px 0 0 #001241, -1px -1px 0 #001241,
			1px -1px 0 #001241, -1px 1px 0 #001241, 1px 1px 0 #001241, -1px -1px 0 #001241, 1px -1px 0 #001241,
			-1px 1px 0 #001241, 1px 1px 0 #001241;
		z-index: 3;
	}
	.s1-title {
		width: 100px;
		top: -33px;
		left: 43px;
	}
	.btn-wrapper {
		width: 22.5%;
	}
	.btn {
		font-size: 6px;
		width: 48px;
		height: 18px;
	}
	.btn::before {
		padding: 2px;
	}
	.logo-wrapper {
		width: 21%;
	}
	.logo {
		width: 45px;
	}
	.container {
		width: 250px;
	}
	.banner {
		background: url(../img/bg-280.jpg) no-repeat center center;
	}
}
